body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid blue;
    display: block;
    margin: 20px auto;
}

h1,
h2 {
    color: dimgray;
    text-align: center;
}

p {
    color: dimgray;
    line-height: 1.6;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: square;
    width: 50%;
    margin: 20px auto;
}